https://www.djangoproject.com/download/1.7.b4/tarball/
git+https://github.com/kennethreitz/dj-static.git
dj-database-url==0.3.0
django-toolbelt==0.0.1
gunicorn==19.0.0
psycopg2==2.5.3
pystache==0.5.4
static==1.0.2
