{% extends 'blog/base.html' %}

{% load i18n staticfiles %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/post_list.css' %}">
{% endblock extra_css %}

{% block content %}

<div class="row">
  <div class="medium-offset-1 medium-10 content columns">

    <h1>
      {% trans 'The MacDown Blog' %}
      <a href="#" class="fi-rss" data-dropdown="feed-dropdown"></a>
      <ul id="feed-dropdown" class="f-dropdown" data-dropdown-content>
        <li><a href="{% url 'blog:atom1' %}">{% trans 'Atom 1.0' %}</a></li>
        <li><a href="{% url 'blog:rss201rev2' %}">{% trans 'RSS 2.0.1 revision 2' %}</a></li>
      </ul>
    </h1>
    <hr>

    <ul class="post-list">
      {% for post in posts %}
      <li>
        <span class="date">{{ post.published_at|date:'Y-m-d' }}</span>
        <span class="sep">»</span>
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>

  </div>
</div>

{% endblock content %}
