{% extends 'pages/base.html' %}

{% load i18n staticfiles %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static '3rdparty/prism/themes/prism.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/post_detail.css' %}">
{% endblock extra_css %}

{% block content %}

<div class="row">
  <div class="medium-offset-1 medium-10 content columns">

    <h1>{{ page.title }}</h1>
    <hr>
    <div class="post-meta">
      {% if page.author %}{% blocktrans with author=page.author %}by <span>{{ author }}</span>{% endblocktrans %}{% endif %}
      {% if page.published_at %}{% blocktrans with published_at=page.published_at %}at <span>{{ published_at }}</span>{% endblocktrans %}{% endif %}
    </div>

    {{ content|safe }}

    <div id="disqus_thread"></div>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

  </div>
</div>

{% endblock content %}


{% block extra_js %}
{{ block.super }}
<script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/javascript" src="{% static '3rdparty/prism/components/prism-core.min.js' %}"></script>
{% for lang in languages reversed %}
<script type="text/javascript" src="{% static '3rdparty/prism/components/prism-'|add:lang|add:'.min.js' %}"></script>
{% endfor %}
{% endblock extra_js %}

{% block extra_foot %}
<script type="text/javascript">
var disqus_shortname = 'macdown-editor';
/* * * DON'T EDIT BELOW THIS LINE * * */
(function(){var dsq = document.createElement('script');dsq.type='text/javascript';dsq.async=true;dsq.src='//'+disqus_shortname+'.disqus.com/embed.js';(document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(dsq);})();
</script>
{% endblock extra_foot %}
