.top-bar .left {
    margin-left: 1.5em;
}
.top-bar .left li a {
    font-size: 90%;
    text-align: center;
}
.top-bar .left > li > a {
    font-size: 110%;
}
.top-bar .left > li:first-child a {
    font-weight: bold;
    padding-left: 0.5em;
    margin: auto 0.5em;
}
footer {
    background: #333;
    color: #fff;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 80%;
}
footer > div {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
footer .links > span:after {
    content: "|";
    padding-left: 10px;
    padding-right: 10px;
}
footer .links > span:last-child:after {
    content: none;
}
