header {
    height: 300px;
    padding-top: 22px;
    margin-bottom: 30px;
}
.logo-block, .title-block {
    float: left;
}
.logo-block {
    width: 300px;
}
.title {
    font-weight: bold;
    font-size: 300%;
    padding-top: 90px;
    margin-bottom: 0.25em;
}
.logo {
    height: 256px;
}
@media (max-width: 968px) {
    .logo-block, .title-block {
        float: none;
        width: 100%;
    }
    .title-block {
        text-align: center;
    }
    .title {
        padding: 0;
    }
}


.content {
    margin-top: 1em;
    text-align: justify;
}
img {
    display: block;
    margin: 10px auto 30px auto;
    max-width: 100%;
}
.squeeze {
    margin-top: -16px;
    margin-bottom: -27px;
}
.link-block {
    margin-top: 2em;
    text-align: center;
}
.download.button {
    font-size: 110%;
    font-weight: bold;
}
.download.button .sub {
    font-size: 70%;
    font-weight: normal;
}
footer {
    background: #333;
    color: #fff;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 80%;
}
footer > div {
    text-align: center;
}
