.content {
    margin-top: 2em;
    text-align: justify;
}
img {
    display: block;
    margin: 10px auto 30px auto;
    max-width: 100%;
}
.squeeze {
    margin-top: -16px;
    margin-bottom: -27px;
}

.link-block {
    margin-top: 2em;
    text-align: center;
}
.download.button {
    font-size: 110%;
    font-weight: bold;
}
.download.button .sub {
    font-size: 70%;
    font-weight: normal;
}
